img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    text-align: right;
    float: right;
    margin: 30px 30px 50px 50px;
}
div {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    background-color: darkgray;
    padding: 30px;

}